
#calender{
  background-color:  rgb(230, 206, 242);
}
#calender ul li{
  text-decoration: none;
}
#calender div{
  width:100%;
  height:50px;
  background-color: #fff;
}
#calender ul li{
  width:13%;
  height:13%;
  margin-right:1%;
  float:left;
}
#calender ul li:last-child{
  margin-right:0;
}
