body{
  background-color: #f4f4f4;
}
.App{
  width:500px;
  height:600px;
  overflow: hidden;
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border: 2px solid #dedede;
}
